img {
  display: block;
    border-radius: 150px;
    margin-top: 25px;
    margin-right: auto;
    margin-left: auto;
    width: 50%;

  }
  .username {
    font-weight: bold;
  }

  body {
    background-color: gray;
  }
  .topbar {
    width: 100%;
    background-image: linear-gradient(10deg, purple, blue);
    border: 2px solid;
    overflow: auto;
  }
  .topbar a {
    border: 1px dotted;
    float: left;
    color: wheat;
    text-decoration: none;
    font-size: 16px;
    width: 33.2%;
    text-align: center;
  }
  .topbar a:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
  }